<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayur Badgujar's Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    
</head>

<body>
     {% include "navbar.html" %}

    <header id="home">
        <h1>Mayur Badgujar</h1>
        <p class="typed-text" id="typed-text"></p>
    </header>

    <section id="about">
        <h2>About Me</h2>
        <div class="content">
            <div>
                <h3>Contact Information</h3>
                <ul>
                    <li>Email: <a href="mailto:mayurbadgujar2011@gmail.com">mayurbadgujar2011@gmail.com</a></li>
                    <li>Phone: <a href="tel:7083823007">7083823007</a></li>
                    <li>Birthdate: 20-11-2000</li>
                    <li>Location: Pune, Maharashtra</li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/mayur-badgujar-115032251" target="_blank">Mayur Badgujar</a></li>
                </ul>
            </div>
            <div class="profile-pic">
                <img src=" {% static 'image\WhatsApp Image 2024-09-12 at 6.05.18 PM.jpeg' %}" alt="Mayur's Picture">
            </div>
        </div>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <div class="content">
            <div>
                <h3>Languages</h3>
                <ul>
                    <li>AWS</li>
                    <li>MySQL</li>
                    <li>SQL</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                </ul>
            </div>
            <div>
                <h3>Tools</h3>
                <ul>
                    <li>Microsoft Teams</li>
                    <li>PuTTY</li>
                    <li>PuTTYgen</li>
                    <li>VMware</li>
                    <li>Hyper-V</li>
                    <li>MobaXterm</li>
                </ul>
            </div>
            <div>
                <h3>Operating Systems</h3>
                <ul>
                    <li>Linux</li>
                    <li>Ubuntu</li>
                    <li>Windows 10 & 11</li>
                </ul>
            </div>
            <div>
                <h3>Soft Skills</h3>
                <ul>
                    <li>Leadership</li>
                    <li>Communication</li>
                    <li>Self-Motivation</li>
                    <li>Quick-Learning</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="education">
        <h2>Education</h2>
        <div class="content">
            <div>
                <h3>Python Full Stack Course</h3>
                <p>Qspiders Training Institute, Pune</p>
            </div>
            <div>
                <h3>Integrated MCA</h3>
                <p>R.C. Patel Educational Trust's Institute of Management Research and Development (2019 – 2024, CGPA-8.77)</p>
            </div>
            <div>
                <h3>12th</h3>
                <p>R.C. Patel English Medium Junior College of Science (2018 – 2019, Percentage-74.92%)</p>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div class="content">
            <div>
                <h3>High Availability Architecture Implementation</h3>
                <p>Using AWS services - EC2, RDS, Amazon Route 53, VPC. Designed and implemented a High Availability architecture to enhance system resilience and minimize downtime for a critical web-based application.</p>
            </div>
        </div>
    </section>

    <section id="achievements">
        <h2>Achievements</h2>
        <div class="content">
            <div>
                <ul>
                    <li>Participated in Inter-college carrom competition</li>
                    <li>Participated in Fuel Python Workshop</li>
                    <li>Attained a 3-star rating on HackerRank SQL</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="certifications">
        <h2>Certifications</h2>
        <div class="content">
            <div>
                <ul>
                    <li>AWS Cloud Quest: Cloud Practitioner (AWS)</li>
                    <li>Project Management Fundamentals (IBM)</li>
                    <li>Complete course of SQL Database Programming (Udemy)</li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Mayur Badgujar. All rights reserved.</p>
        <p>Designed by Mayur Badgujar</p>
    </footer>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#typed-text', {
            strings: ['Web Developer', 'Python Developer', 'AWS Cloud Architect'],
            typeSpeed: 50,
            backSpeed: 50,
            loop: true
        });
    </script>
</body>

</html>